@import "theme.scss";

* {
  font-family: $main-font;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background-color: $site-bg-color;
  color: $primary-text-color;
}

h2 {
  margin: 0;
}

.logo {
  font-weight: 700;
  display: inline-block;
  margin: 0;
  font-size: 20px;
}

.logo-section {
  height: 60px;
  line-height: 60px;
}

.navbar {
  padding-right: calc(5 * #{$spacing-normal});
  padding-left: calc(5 * #{$spacing-normal});
  height: 60px;
  margin-top: calc(2 * #{$spacing-normal});
}

.nav-items {
  display: inline-block;
  float: right;
  height: 60px;
  line-height: 60px;
}

.nav-text {
  padding-right: calc(7 * #{$spacing-normal});
}

.chart-container {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-item {
  margin: 32px;
  background-color: $bg-color-light;
  display: inline-block;
  border-radius: $border-radius-normal;
}

.chart-content {
  height: 200px;
  width: 250px;
  padding: calc(3 * #{$spacing-normal});
}

.chart-div {
  height: 135px;
  width: 252px;
  margin: 0;
  padding-top: 40px;
}

.small-chart-text {
  padding-left: 16px;
  display: inline-block;
}

.large-icon {
  float: left;
  width: 44px;
  height: 44px;
}

.small-icon {
  float: left;
  width: 32px;
  height: 32px;
}

.coin-names {
  font-weight: 500;
  margin: 0;
}

.coin-info {
  margin: 0;
}

.coming-soon {
  background: black;
  color: $primary-text-color;
  padding: 22px calc(4 * #{$spacing-normal});
  border-radius: 48px;
}

.currency-tag {
  font-size: 12px;
}

.dashboard-container {
  margin: 60px calc(5 * #{$spacing-normal})
}

.overview-container {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overview-boxes {
  width: 432px;
  height: 141px;
  background-color: $bg-color-light;
  display: inline-block;
  border-radius: $border-radius-normal;
}

.assets-box {
  margin: 0;
  padding: calc(3 * #{$spacing-normal}) calc(3 * #{$spacing-normal});
}

.assets-text {
  padding-left: calc(2 * #{$spacing-normal});
  float: left;
  padding-bottom: 8px;
}

.total-value {
  padding-top: 8px;
}

.change24h {
  display: inline-block;
  float: right;
}

.assets-chart {
  height: 75px;
  width: 252px;
  margin: 0;
  padding-left: 55px;
}

.price-value {
  padding-top: 8px;
}

.main-container {
  margin-top: calc(4 * #{$spacing-normal});
}

.portfolio-container {
  position: relative;
  height: 438px;
  width: 896px;
  background-color: $bg-color-dark;
  border-radius: $border-radius-normal;
  display: inline-block;
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
}

.portfolio-content {
  height: 30px;
  line-height: 30px;
  padding: calc(3 * #{$spacing-normal}) calc(3 * #{$spacing-normal});
}

.portfolio-unav {
  height: calc(100% - 78px);
  background: url("../assets/graph-fake.png") center no-repeat;
  background-size: cover;
}

.portfolio-placeholder {
  position: absolute;
  top: calc(50% - 35.4px);
  left: calc(50% - 137.5px);
}

.hotcoins-container {
  display: inline-block;
  float: left;
  border-radius: $border-radius-normal;
  width: 432px;
  background-color: $bg-color-dark;
}

.hotcoins-content {
  height: 30px;
  line-height: 30px;
  padding: calc(3 * #{$spacing-normal}) calc(3 * #{$spacing-normal});
}

.hotcoins-info {
  margin-top: 30px;
}

.hotcoins-size {
  font-size: 20px;
  font-weight: 400;
}

.hotcoins-text {
  float: left;
}

.hotcoins-entry {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.hotcoins-arrows {
  font-size: 18px;
}

.hotcoins-pricing {
  padding-left: 20px;
  margin-top: -5px;
}

.hotcoins-change {
  float: right;
}

.bottom-entry {
  margin-bottom: 24px;
}
